@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
  user-select: none;
  font-family: 'Rubik', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1521449256184-170b4a4c437c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80);
}

.inner-menu {
  display: flex;
  flex-direction: column;
  background-color: cadetblue;
  border-radius: 7px;
  padding: 0.9rem;
  background: url(https://upload.wikimedia.org/wikipedia/commons/d/df/Doge_homemade_meme.jpg);
}

.inner-menu button {
  border-bottom: 0.5px solid #aaa;
}

/* Hide Arrows From Input Number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.thank-you {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.thank-you svg{
  color: red;
}

.loading {
  position: fixed;
  left: 46%;
  top: 50%;
  z-index: 1;
  filter: blur(0px) !important
}

div {
  transition: 0.5s filter ease;
}

.blur {
  filter: blur(2.5px);
}

.description {
  text-align: center;
  padding: 5%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.spinner-border {
  width: 1rem;
  height: 1rem;
  border-width: .15em;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1521449256184-170b4a4c437c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80);
}

.login {
  background-color: #429e9e;
  border-radius: 8px !important;
  background: url(https://upload.wikimedia.org/wikipedia/commons/d/df/Doge_homemade_meme.jpg);
}

.alert-danger {
  position: absolute;
  top: 3%;
}

.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 3%;
  background: url(https://images.unsplash.com/photo-1521449256184-170b4a4c437c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80);
}

/* Desktop */
@media (min-width:961px){
  .main-container {
    background-size: cover;
  }
}